<div class="container">
  <div class="list-card-product">
    <div class="row">

      <h2 class="text-center"><ul><%= @list.name %></ul></h2>
          <% @list.order_by_done_tasks.each do |task| %>
            <%= simple_form_for task, data: { controller: "submit-task" } do |f| %>
              <%= f.input :done, as: :boolean, label: task.label, input_html: {data: {action: "change->submit-task#submitOnChange"}} %>
            <% end %>
          <% end %>
            <%= simple_form_for [@list, @task_new] do |f| %>
              <%= f.input_field :label, placeholder: '...'%>
            <% end %>
    </div>
  </div>
</div>
