<div class="container">
  <div class="list-card-product" style="background-image: url(<%= image_path(image_category(@list.category)) %>)">
    <div class="row">
      <div class="" data-controller="edit">
        <div class="d-flex justify-content-between my-3 mx-3"data-edit-target="listTitle">
          <h2 class="flex-grow-1 text-center" > <%= @list.name %></h2>
          <i class="fa-solid fa-pen-to-square"  data-action="click->edit#addOnClick"></i>
        </div>
          <%= simple_form_for @list, html: { class: "d-none"}, data: { edit_target: "editForm" } do |f| %>
        <div class="d-flex justify-content-between my-2 mx-1">
          <div class="flex-grow-1 text-center">
            <%= f.input_field :name, placeholder: (@list.name), class: "list-name-input" %>
            <%= button_tag type: "submit", class: "button-validate" do %>
            <i class="fa-solid fa-check"></i>
          </div>
          <% end %>
        </div>
      </div>
        <% end %>
        <div class="">
          <% @list.order_by_done_tasks.each do |task| %>
            <%= render 'tasks/task', task: task %>
          <% end %>
        </div>
            <%= simple_form_for [@list, @task_new] do |f| %>
              <%= f.input_field :label, placeholder: '...', class: "add-task-input"%>
              <%= button_tag type: "submit", class: "button-validate" do %>
                <i class="fa-solid fa-check"></i>
              <% end %>
            <% end %>

        <div class="col-12 text-center">
           <%# input pour OCR %>
          <%= simple_form_for :ocr, url: ocr_list_path(id: @list.id), method: :post, html: { multipart: true } do |f| %>
            <div style="display: none;">
              <%= f.input :temp_photo, as: :file, input_html: { id: "fileInput" } %>
            </div>

           <label for="fileInput" style="cursor: pointer;">
             <%=image_tag "scan-black.png", alt: "scan", width: "30" %>
           </label>

              <%= f.submit "Ok", class: "ocr-list-button", style: "margin-top: 10px;" %>
          <% end %>
        </div>

<div class="">
<%= render 'lists/loader' %>
</div>

    </div>
  </div>
</div>
