<div class="container">
  <%= turbo_stream_from dom_id(@list) %>
  <div id="loader"></div>
  <div class="list-card-product" style="background-image: url(<%= image_path(image_category(@list.category)) %>)">
    <div class="row">
      <div class="" data-controller="edit">
        <div class="d-flex justify-content-between my-3"data-edit-target="listTitle">
          <h2 class="flex-grow-1 text-center" > <%= @list.name %></h2>
          <i class="fa-solid fa-pen my-2 me-3" data-action="click->edit#addOnClick"></i>
        </div>
          <%= simple_form_for @list, html: { class: "d-none"}, data: { edit_target: "editForm" } do |f| %>
        <div class="d-flex justify-content-between mx-2">
          <div class="flex-grow-1 text-center">
            <%= f.input_field :name, placeholder: (@list.name), class: "list-name-input" %>
            <%= button_tag type: "submit", class: "button-validate" do %>
            <i class="fa-solid fa-check"></i>
          </div>
          <% end %>
        </div>
      </div>
        <% end %>
        <div id="<%= dom_id(@list) %>-tasks">
          <%= render "list_tasks", list: @list %>
        </div>
          <%= simple_form_for [@list, @task_new] do |f| %>
            <%= f.input_field :label, placeholder: ' Ajouter un élément', class: "add-task-input"%>
            <%= button_tag type: "submit", class: "button-validate" do %>
              <i class="fa-solid fa-check"></i>
            <% end %>
          <% end %>

        <div class="col-12 text-center mt-4">
           <%# input pour OCR %>
          <%= simple_form_for :ocr, url: ocr_list_path(id: @list.id), method: :post, html: { multipart: true, data: { controller: "submit-photo"} } do |f| %>

              <%= f.input :temp_photo, as: :file, input_html: { id: "fileInput", capture: "environment", data: {action:"change->submit-photo#submitFormPhoto"}}, wrapper_html: { class: "d-none" } %>

           <label for="fileInput" style="cursor: pointer;">
             <%=image_tag "scan-black.png", class:"mb-3", alt: "scan", width: "30" %>
           </label>
          <% end %>
        </div>
    </div>
  </div>
</div>
