<div id="<%= dom_id(task) %>">
  <%= turbo_frame_tag task do %>
    <%= simple_form_for task, data: { controller: "submit-task" } do |f| %>
      <div class="d-flex">
        <div class="ms-2 me-auto">
          <%= f.input :done, as: :boolean, label: task.label, input_html: {data: {action: "change->submit-task#submitOnChange"}} %>
        </div>
        <div class="mb-2">
          <%= link_to edit_task_path(task) do %>
            <i class="fa-solid fa-pen me-3"></i>
          <% end %>
        </div>
        <div class="">
          <%= link_to task_path(task),
            data: {
              turbo_method: :delete,
            } do %>
            <i class="fa-regular fa-trash-can trash-btn" style="color: $black;"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
