<div class="d-flex reminder-align">
  <div class="col-8 text-left my-title my-4">
    <h2 class="mb-0">Mes rappels</h2>
  </div>

  <%# input pour OCR %>
  <%= simple_form_for :ocr, url: ocr_reminders_path(id: @reminder.id), method: :post, html: { multipart: true, data: { controller: "submit-photo"} } do |f| %>
    <%= f.input :temp_photo, as: :file, input_html: { id: "fileInput", capture: "environment", data: {action:"change->submit-photo#submitFormPhoto"}}, wrapper_html: { class: "d-none" } %>
    <label for="fileInput" style="cursor: pointer;">
      <%=image_tag "qr-code.png", alt: "scan", width: "30", class: "ms-3" %>
    </label>
  <% end %>
    <a class="btn" href="<%= new_reminder_path(@reminder) %>"><i class="fa-solid fa-circle-plus fa-2x ms-2"></i></a>
  </div>

<div id="reminder-list">
  <%= render "reminders", reminders: @reminders %>
</div>