<div class="d-flex align-items-baseline me-2">
  <div class= "col-10 text-left my-title">
    <h2>Mes rappels</h2>
  </div>
    <a class="btn" href="<%= new_reminder_path(@reminder) %>"><i class="fa-solid fa-circle-plus color fa-2x"></i></a>
  </div>
  </div>
  <%# input pour OCR %>
          <%= simple_form_for :ocr, url: ocr_reminders_path(id: @reminder.id), method: :post, html: { multipart: true } do |f| %>
            <div style="display: none;">
              <%= f.input :temp_photo, as: :file, input_html: { id: "fileInput" } %>
            </div>

           <label for="fileInput" style="cursor: pointer;">
             <i class="fa-solid fa-camera-retro" style="font-size 80px"></i>
           </label>

              <%= f.submit "Envoyer", class: "validate-button w-50", style: "margin-top: 10px;" %>
          <% end %>

</div>

    <ul><% @reminders.each do |reminder| %></ul>
  <div class="reminders-card-index">
    <%= link_to reminder.description,reminder_path(reminder), class:"reminders-card-link" %>
  </div>
    <% end %>
