<div class="d-flex align-items-baseline me-2">
  <div class= "col-7 text-left my-title">
    <h2>Mes rappels</h2>
  </div>
  <%# input pour OCR %>
<%= simple_form_for :ocr, url: ocr_reminders_path(id: @reminder.id), method: :post, html: { multipart: true } do |f| %>

  <div style="display: none;">
    <%= f.input :temp_photo, as: :file, input_html: { id: "fileInput" } %>
  </div>

  <label for="fileInput" style="cursor: pointer;">
    <%=image_tag "qr-code.png", alt: "scan", width: "30" %>
  </label>
    <%= f.submit "Ok", class: "ocr-button w50", style: "margin-bottom: 25px" %>
<% end %>
    <a class="btn" href="<%= new_reminder_path(@reminder) %>"><i class="fa-solid fa-circle-plus fa-beat color fa-2x"></i></a>

</div>


<% @reminders.each do |reminder| %>
  <div class="reminders-card-index d-flex justify-content-between">
    <%= link_to reminder.description,edit_reminder_path(reminder), class:"reminders-card-link" %>
    <%= link_to reminder_path(reminder),
        data: {
          turbo_method: :delete,
        } do %>
    <i class="fa-solid fa-trash mt-1 trash-btn" style="color: #FFFFFF;"></i>
    <% end %>
  </div>
<% end %>
