<div class="container align-items-center flex-column d-flex reminder-create">
    <h2 class="title-reminder">Créer un nouveau rappel</h2>
    <%= simple_form_for(@reminder) do |f| %>
      <%= f.input :description, placeholder: "Nom du rappel", :label => false, input_html: {style: "color: black"}%>
      <%= f.input :end_date, as: :string, :label => "Date *", input_html: {data: {controller: "flatpickr" } }%>
      <%= f.input :hours,  as: :string, :label => "Heure *" do %>
        <%= text_field_tag "hours", "#{@hour}:#{@minutes}", class: "w-100 px-3", style:"height:40px", data: {controller: "timepicker", timepicker_hour_value: @hour, timepicker_minutes_value: @minutes } %>
      <% end %>
      <div class="d-flex justify-content-center">
        <%= f.submit "Valider", class: "btn validate-button"%>
        </div>

    </div>
    <% end %>

</div>
