<div class="container align-items-center flex-column d-flex reminder-create">
    <h1 class="title-reminder">Nouveau rappel</h1>
    <%= simple_form_for(@reminder) do |f| %>
      <%= f.input :description, placeholder: "Intitulé", :label => false, input_html: {style: "color: black"}%>
      <%= f.input :end_date, as: :string, :label => "Date *", input_html: {data: {controller: "flatpickr" } }%>
      <%= f.input :hours, as: :time, :label => "Heure *", input_html: {data: {controller: "timepicker" } } do %>
        <%= time_field_tag "hours", "", class: "w-100 px-3", style:"height:40px" %>
      <% end %>
      <div class="d-flex justify-content-center">
        <%= f.submit "Créer", class: "btn validate-button w-50"%>
        </div>
        <%# input pour OCR %>
          <%= simple_form_for :ocr, url: ocr_reminders_path(id: @reminder.id), method: :post, html: { multipart: true } do |f| %>
            <div style="display: none;">
              <%= f.input :temp_photo, as: :file, input_html: { id: "fileInput" } %>
            </div>

           <label for="fileInput" style="cursor: pointer;">
             <i class="fa-solid fa-camera-retro" style="font-size 80px"></i>
           </label>

              <%= f.submit "Envoyer", class: "validate-button w-50", style: "margin-top: 10px;" %>
          <% end %>

    </div>
    <% end %>

</div>
