<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">

  <div class="container-fluid">
    <i class="fa-solid fa-bars fa-xl" style="color: #E6C768", width="80"></i>

    <%= link_to root_path, class: "navbar-brand p-0" do %>
    <%=image_tag "logo-t4.png", alt: "logo", width: "50" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-user fa-xl user-icon" style="color: #E6C768", width="80"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-text-decoration align-items-end">
      <% if user_signed_in? %>
        <li><%= link_to "Mes listes", lists_path, class: "dropdown-item" %></li>
        <li><%= link_to "Mes rappels", reminders_path, class: "dropdown-item" %></li>
        <li><%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
      <% else %>
        <li class="nav-item">
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      </ul>
    </div>

  </div>

</nav>
